@import url('https://fonts.googleapis.com/css?family=Leckerli+One');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}